body{
    -webkit-margin-before:1em;
    padding-top: 170px;
    background-image: url("copytoclipboard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 150px;
    padding-right: 150px;
}
fieldset{
    border-radius: 10px;
    padding: 5%;
    border-width:5px;
    border-color: black;
}
input{
    border-radius: 10px;
    padding: 8px;
}
button{
    background-color: rgb(243, 198, 198);
    padding: 8px;
    border-radius: 10px;
}
button:hover{
    border-radius: 20px;
}